# dependencias
node_modules/

# archivos de entorno
.env

# whatsapp-web.js (si lo usaste antes)
.wwebjs_auth/
.wwebjs_cache/
auth_info/

# logs
*.log

# sistema
.DS_Store

dist/
build/

.atl/
openspec/
